@model List<Book>

<h1>Book List</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var eachBook in Model)
        {
            <tr>
                <td>@eachBook.BookTitle</td>
                <td>@eachBook.Author</td>
                <td>@eachBook.Description</td>
                <td>@eachBook.Price</td>
                <td>@(eachBook.category != null ? eachBook.category.Name : "")</td>
            </tr>
        }
    </tbody>
</table>

<div class="col-md-12 text-end">
    <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Create New Book</a>
</div>