@{
    ViewData["Title"] = "Home Page";
}

@model List<Book>

<h1>Books in our Store</h1>

<div class="container">
    <div ckas="row">
        @foreach(var eachBook in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card shadow-sm h-100">
                    <img class="card-img-top" src="@eachBook.ImgUrl" style="height:200px; object-fit:cover" />
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" style="color:brown">@eachBook.BookTitle</h5>
                        <p class="card-text text-muted">
                            @eachBook.Author
                            <br />

                            @eachBook.Description
                            <br />

                        </p>

                        <div class="mt-auto">
                            <p class="fw-bold mb-2">
                                $@eachBook.Price.ToString("0.00")

                            </p>

                        </div>

                        <a asp-action="Home" asp-action="Details" asp-route-id="@eachBook.BookId" class="btn btn-primary">Details</a>

                    </div>


                </div>


            </div>


        } 

    </div>


</div>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
